<div>
    <h2>SignUp page</h2>
    <form>
        <label>CustomerId</label>
        <input type="number" FormControlName="custId"/><br/>
        <label>Account Number</label>
        <input type="number" FormControlName="accNo"/><br/>
        <label>Name</label>
        <input type="text" FormControlName="custName"/><br/>
        <label>Password</label>
        <input type="password" FormControlName="pass"/><br/>
        <label>Debit Card Number</label>
        <input type="number" FormControlName="debNo"/><br/>
        <input type="submit" value="submit"/>
        <input type="reset" value="reset"/>
    </form>
</div>

