<div>
    <h2 align="center"> <font color="white">Store method</font></h2>
    
    <form [formGroup]="customerInfo" (ngSubmit)="storeCustomerDetails()">
        <table  height="500px" width="50%" align="center">
            <tr bgcolor="yellow">
                <th colspan="2"><font size="6">Sign Up Page</font></th>
            </tr>
    
        <tr bgcolor="black">
            <th><font color="yellow" size="4">Customer Id :</font></th>
            <th><input type="number" formControlName="custid" placeholder="Enter Your Id"></th>
        </tr>
     
        <tr bgcolor="black">
            <th><font color="yellow" size="4">Account Number :</font></th>
            <th><input type="number" formControlName="accnum" placeholder="Enter Your Account Number"></th>
        </tr>
     
        <tr bgcolor="black">
            <th><font color="yellow" size="4">Customer Name :</font></th>
            <th><input type="text" formControlName="custname" placeholder="Enter Your Name"></th>
        </tr>
     
        <tr bgcolor="black">
            <th><font color="yellow" size="4">Password :</font></th>
            <th><input type="text" formControlName="password" placeholder="Enter Your Password"></th>
        </tr>
     
        <tr bgcolor="black">
            <th><font color="yellow" size="4">DebitCard Number :</font></th>
            <th><input type="number" formControlName="debitnum" placeholder="Enter Your DebitCard Number"></th>
        </tr>
     <tr bgcolor="yellow">
         <th colspan="2"><font size="4">
        <input type="submit"  value="store customer info"> &nbsp;&nbsp;&nbsp;
        <input type="reset"  value="Reset"> </font>
    </th>
    </tr>
    </table>
    </form>

   <h2 align="center"><font color="red">{{msg}}</font></h2> 
</div>