<div>
   

    <h4>Order details</h4>
    
    <input type="button" value="See All Orders" (click)="getAllOrders()"/>
    <div *ngIf="flag">
        <table border="1">
        <tr>
            <th>CustId</th>
            <th>OrderId</th>
            <th>OrderDate</th>
            <th>pid</th>
            <th>pname</th>
            <th>price</th>
        </tr>
        <tr *ngFor="let order of orderInfo">
                <td>{{order.custid}}</td>
                <td>{{order.orderid}}</td>
                <td>{{order.orderdate}}</td>
                <td>{{order.pid}}</td>
                <td>{{order.pname}}</td>
                <td>{{order.price}}</td>
        </tr>
        </table>
    </div>
</div>

