<hr/>
{{msg}}    
<div  class="row card-deck text-center">
    <div *ngFor="let product of productRef" class="col-lg-4">
        <div class="card mb-4"  >
            <img height="50%" class="card-img-top" src="../../assets/{{product.pname}}.jpg" alt="{{product.pname}}">
            <div class="card-body">
                <h4 class="card-title ">{{product.pname}}</h4>
                <div class="text-left">
                    <p class="card-text"><strong>Product: </strong>{{product.pname}}</p>
                    <p class="card-test"><strong>Price: </strong>{{product.price}}</p>
                    <p class="card-text"><strong>Category: </strong>{{product.itemname}}</p>
                </div>
                <br>
                <input type="button" value="Add to Cart" class="btn btn-lg btn-danger" (click)="storeCart(product)"/>
            </div>    
        </div>
    </div>
</div>
