<div>

    <app-header-home></app-header-home>
    <router-outlet></router-outlet>
<div>

  <!--<app-home></app-home>-->
  <app-retrive-address></app-retrive-address>
  <app-store-address></app-store-address>
  <app-update-address></app-update-address>
  <app-delete-address></app-delete-address>
    
</div>
  <app-home></app-home>
  <!--<app-store-creditcard></app-store-creditcard>
  <app-update-creditcard></app-update-creditcard>
  <app-delete-creditcard></app-delete-creditcard>
  <app-store-orders></app-store-orders>
  <app-delete-orders></app-delete-orders>
  <app-retrive-all-orders></app-retrive-all-orders>-->
</div> 
<app-home></app-home>
</div>



