<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color: white;">{{userName}}</a>
    <div class="navbar-nav ml-auto">
      <a class="nav-item nav-link" (click)="logout()">Sign Out</a>
    </div>
</nav>
<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="category">See All Categories</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="allproducts">See All Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="additems">Add Items</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="itemupdate">Update Item</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="deleteitem">Delete Item</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="addproducts">Add Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="productupdate">Update Product</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="deleteproduct">Delete Product</a>
    </li>
  </ul>
<router-outlet></router-outlet>

