<div>
    <h4>storing creditcard details</h4>
    <form [formGroup]="creditcardInfo" (ngSubmit)="storeCreditcard()">
        <label>Customer Id</label>
        <input type="number" formControlName="custId"/><br/>
        <label>creditcard number</label>
        <input type="number" formControlName="creditCardNum"/><br/>
        <label>Account number</label>
        <input type="number" formControlName="accNum"/><br/>
        <label>Password</label>
        <input type="string" formControlName="password"/><br/>
        <label>Debitcard Number</label>
        <input type="number" formControlName="debitCardNum"/><br/>
        <input type="submit" value="store creditcard info"/>
        <input type="reset" value="reset"/>
    </form>
    {{msg}}
</div>

