<div>
    
    
    <h4>Address retrieve operation</h4>
    <div *ngIf="flag">
        
    </div>
    <h3>Address details</h3>
    <input type="button" value="Load Address data" (click)="loadData()"/>
    <table border="1">
        <tr>
            <th>addId</th>
            <th>streetName</th>
            <th>city</th>
            <th>state</th>
            <th>pin</th>
            <th>custId</th>
        </tr>
        <tr *ngFor="let address of addressinfo">
            <td>{{address.addId}}</td>
            <td>{{address.streetName}}</td>
            <td>{{address.city}}</td>
            <td>{{address.state}}</td>
            <td>{{address.pin}}</td>
            <td>{{address.custId}}</td>
        </tr>
    </table>
</div>
