<div>
    <h4>Store Product</h4>
    <form [formGroup]="productInfo" (ngSubmit)="storeProduct()">
        <label>ProductId</label>
        <input type="number" formControlName="pid"/><br/>
        <label>Product Name</label>
        <input type="text" formControlName="pname"/><br/>
        <label>Price</label>
        <input type="number" formControlName="price"/><br/>
        <label>CategoryId</label>
        <input type="number" formControlName="piid"/><br/>
        <input type="submit" value="store product info"/>
        <input type="reset" value="reset"/>
    </form>
    {{msg}}
</div>
