<h2 align="center" class="display-4 mb-5">See, Buy and Get</h2>
<div>
    <table border="1">
        <tr *ngFor="let product of productInfo">
            <td>{{product.pid}}</td>
            <td>{{product.pname}}</td>
            <td>{{product.price}}</td>
            <td>{{product.piid}}</td>
        </tr>
    </table>
</div>
<div>
    <router-outlet></router-outlet>
</div>
 <div>
    <h1>Welcome to Online shopping</h1>
    <a routerLink="login">Login</a>
<br>
   <a routerLink="signup">SignUp</a>
</div>
</div>
<router-outlet></router-outlet>

