<div>
    <h2>Update Address</h2>
    <form #addressRef="ngForm" (ngSubmit)="updateAddressInfo(addressRef.value)">
        <label>addId</label>
        <input type="text" name="addId" ngModel/> <br>
        <label>streetName</label>
        <input type="text" name="streetName" ngModel/> <br>
        <label>pin</label>
        <input type="number" name="pin" ngModel/> <br>
        <input type="submit" value="Update Address"/>
        <input type="reset" value="reset"/>
    </form>
    {{msg}}

</div>
